@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);

body {
    background: #212121;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}